@charset "UTF-8";
/* portfolio2.css */
/* fonts.css */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Y_Spotlight';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  cursor: url(../../img/cursor.svg) 5 5, progress;
}

/* 전체 레이아웃 설정 */
/* #wrap */
#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: auto;
  background-color: #fff;
  font-family: "S-Core_Dream_OTF";
  font-weight: 300;
}

#headBox {
  width: 100%;
  height: 100vh;
  top: 0;
  box-sizing: border-box;
}

.headinner {
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  padding: 13px 100px;
  z-index: 1000;
}

.menu_bar {
  width: 33.3%;
}

.navbar_overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 998;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.1s ease;
}

.gnb {
  position: fixed;
  top: 20px;
  cursor: pointer;
  color: #000;
}

.gnb i {
  font-size: 30px;
  color: #fff;
}

@media all and (max-width: 679px) {
  .gnb i {
    font-size: 24px;
  }
}

@media all and (max-width: 679px) {
  .gnb {
    top: auto;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .gnb {
    top: auto;
  }
}

.hurger_back {
  position: fixed;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  color: #fff;
}

.hurger_back i {
  font-size: 28px;
}

.navbar_menu {
  width: 40%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 100px 60px;
  position: fixed;
  background-color: #D71E15;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transform: translateX(-100%);
  z-index: 999;
  transition: transform 0.3s ease;
}

.navbar_menu a {
  margin-left: 10px;
  margin-bottom: 30px;
  position: relative;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
}

@media all and (max-width: 679px) {
  .navbar_menu {
    width: 100%;
  }
}

.navbar_menu.active {
  transform: translateX(0);
}

.navbar_overlay.active {
  opacity: 1;
  pointer-events: auto;
}

@media all and (max-width: 679px) {
  .menu_bar {
    width: 19.334%;
  }
}

h1 {
  width: 33.3%;
}

h1 a {
  display: flex;
  margin: auto;
  justify-content: center;
}

h1 a img {
  width: 227px;
  height: 43px;
}

@media all and (max-width: 679px) {
  h1 a img {
    width: 130px;
    height: auto;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  h1 a img {
    width: 210px;
    height: auto;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  h1 a {
    height: -webkit-fill-available;
  }
}

@media all and (max-width: 679px) {
  h1 {
    width: 61.334%;
  }
}

@media all and (max-width: 679px) {
  .headinner {
    height: 50px;
    padding: 10px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .headinner {
    height: 60px;
    padding: 13px 50px;
  }
}

.site_rink {
  width: 33.3%;
  display: grid;
  justify-content: end;
}

.rink_img {
  width: 90px;
  height: 28px;
  display: flex;
  gap: 20px;
  justify-content: end;
}

.ghiblie_site {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ghiblie_site img {
  width: 26px;
  height: 26px;
  margin: auto;
}

@media all and (max-width: 679px) {
  .ghiblie_site img {
    width: 24px;
    height: 24px;
  }
}

.twitter_site {
  width: 100%;
  display: flex;
  justify-content: center;
}

.twitter_site img {
  width: 28px;
  height: 28px;
}

@media all and (max-width: 679px) {
  .twitter_site img {
    width: 24px;
    height: 24px;
  }
}

@media all and (max-width: 679px) {
  .rink_img {
    width: auto;
    height: auto;
    gap: 10px;
  }
}

.site_txt {
  height: 15px;
  line-height: 13px;
  text-align: center;
}

.site_txt span {
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

@media all and (max-width: 679px) {
  .site_txt {
    display: none;
  }
}

@media all and (max-width: 679px) {
  .site_rink {
    width: 19.334%;
  }
}

@media all and (max-width: 679px) {
  #headBox {
    height: auto;
  }
}

#cover img {
  width: 100%;
  height: 100vh;
  filter: saturate(70%);
}

@media all and (max-width: 679px) {
  #cover img {
    height: 100%;
  }
}

@media all and (max-width: 679px) {
  #cover {
    height: 27vh;
  }
}

#plot {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  /* 첫번째 줄거리 */
}

.leftImg {
  width: 50%;
  background-image: url(../../img/kiki_green.jpeg);
  background-size: 100% 1000px;
  background-repeat: no-repeat;
  background-position: 0px -400px;
}

@media all and (max-width: 679px) {
  .leftImg {
    background-size: 73vw 72vh;
    background-position: -5vw -16vh;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .leftImg {
    background-size: 100% 945px;
  }
}

@media all and (min-width: 1920px) {
  .leftImg {
    height: 50%;
    background-size: 100% 1180px;
    background-position: 0px -406px;
  }
}

.rightTxt {
  width: 50%;
  background-color: #0A4B41;
  padding: 77px 150px;
}

.rightTxt span {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

@media all and (max-width: 679px) {
  .rightTxt span {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .rightTxt span {
    font-size: 20px;
  }
}

@media all and (min-width: 1920px) {
  .rightTxt span {
    font-size: 34px;
  }
}

.rightTxt p {
  padding-top: 10px;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

@media all and (max-width: 679px) {
  .rightTxt p {
    font-size: 13px;
    line-height: 18px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .rightTxt p {
    margin-top: 15px;
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  .rightTxt p {
    padding-top: 40px;
    font-size: 18px;
    line-height: 30px;
  }
}

@media all and (max-width: 679px) {
  .rightTxt {
    height: 50vh;
    padding: 4.376%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .rightTxt {
    height: 50%;
    padding: 53px;
  }
}

@media all and (min-width: 1920px) {
  .rightTxt {
    height: 50%;
    padding: 150px;
  }
}

.leftTxt {
  width: 50%;
  background-color: #1145A2;
  padding: 67px 130px;
}

.leftTxt span {
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

@media all and (max-width: 679px) {
  .leftTxt span {
    font-size: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .leftTxt span {
    font-size: 20px;
  }
}

@media all and (min-width: 1920px) {
  .leftTxt span {
    font-size: 34px;
  }
}

.leftTxt p {
  padding-top: 10px;
  font-size: 16px;
  color: #fff;
  line-height: 24px;
}

@media all and (max-width: 679px) {
  .leftTxt p {
    font-size: 13px;
    line-height: 18px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .leftTxt p {
    margin-top: 15px;
    font-size: 14px;
  }
}

@media all and (min-width: 1920px) {
  .leftTxt p {
    padding-top: 40px;
    font-size: 18px;
    line-height: 30px;
  }
}

@media all and (max-width: 679px) {
  .leftTxt {
    width: 100%;
    padding: 10px 10px 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .leftTxt {
    height: 50%;
    padding: 34px;
  }
}

@media all and (min-width: 1920px) {
  .leftTxt {
    height: 50%;
    padding: 130px;
  }
}

.rightImg {
  width: 50%;
  background-image: url(../../img/kiki_plot_blue.jpeg);
  background-size: 100% 1200px;
  background-repeat: no-repeat;
  background-position: 0px -380px;
}

@media all and (max-width: 679px) {
  .rightImg {
    display: none;
    width: 100%;
    height: 300px;
    background-size: 100% 500px;
    background-position: 0px -150px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .rightImg {
    background-size: 100% 1130px;
    background-position: 0 -380px;
  }
}

@media all and (max-width: 679px) {
  #plot {
    height: auto;
  }
}

#video {
  height: 100vh;
  padding: 120px 0;
  background-color: #eef;
}

.video_content {
  width: 100%;
  display: flex;
  justify-content: center;
}

.video_content iframe {
  width: 63.889%;
  height: 62.437vh;
  border: 0;
}

@media all and (max-width: 679px) {
  .video_content iframe {
    width: auto;
    height: auto;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .video_content iframe {
    width: 700px;
    height: 394px;
  }
}

@media all and (min-width: 1920px) {
  .video_content iframe {
    width: 1200px;
    height: 674px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .video_content {
    width: 700px;
    margin: auto;
  }
}

.video_title {
  width: 100%;
  height: 51px;
  line-height: 51px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

@media all and (max-width: 679px) {
  .video_title {
    font-size: 18px;
  }
}

@media all and (min-width: 1920px) {
  .video_title {
    height: 60px;
    line-height: 60px;
    font-size: 25px;
  }
}

.video_decoration {
  width: 20%;
  height: 56.935%;
  bottom: 59.1715%;
  left: 72.083%;
  position: relative;
  background-image: url(../../img/zizi_deco.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

@media all and (max-width: 679px) {
  .video_decoration {
    width: 80px;
    height: 100px;
    bottom: 39.834%;
    left: 74.064%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .video_decoration {
    width: 200px;
    height: 246px;
    bottom: 32.847%;
    left: 73.959%;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .video_decoration {
    left: 940px;
  }
}

@media all and (min-width: 1920px) {
  .video_decoration {
    width: 300px;
    height: 350px;
    bottom: 37.468%;
    left: 71.875%;
  }
}

@media all and (max-width: 679px) {
  #video {
    height: 39.437vh;
    padding: 9.05% 0 0;
  }
}

#character {
  height: 100vh;
  padding: 60px 100px;
  height: 100%;
  background-color: #D7DAC7;
}

#character h2 {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  height: 32px;
}

@media all and (max-width: 679px) {
  #character h2 {
    font-size: 16px;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

#character .swiper-slide {
  width: 39.355% !important;
  height: auto;
  background-color: #fff;
  margin: 30px 15px 0;
  padding: 26px 20px;
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.character_img {
  width: 354px;
  height: 296px;
  margin: auto;
}

.character_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media all and (max-width: 679px) {
  .character_img {
    width: 280px;
    height: 200px;
  }
}

.character_txt {
  width: auto;
  margin: 20px auto 0;
}

.character_txt p {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
}

.character_txt span {
  margin-top: 10px;
  font-size: 14px;
}

@media all and (max-width: 679px) {
  #character .swiper-slide {
    width: 100% !important;
    margin: auto;
    height: 550px !important;
    padding: 20px 10px;
    height: fit-content;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #character .swiper-slide {
    width: 100% !important;
    margin: auto;
    padding: 20px 10px;
    height: fit-content;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  #character .swiper-slide {
    width: 45.1855% !important;
    margin: 2.778% 1.389% 0;
    padding: 2.408% 1.852% 0;
  }
}

@media all and (min-width: 1920px) {
  #character .swiper-slide {
    margin: 50px 20px 0;
  }
}

.swiper-slide:first-child {
  margin: 30px 15px 0px 70px;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin: 20px auto;
}

.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

#character .swiper-button-next, #character .swiper-button-prev {
  color: #D71E15;
}

@media all and (max-width: 679px) {
  #character {
    padding: 14px 10px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  #character {
    padding: 2.969% 7.813%;
  }
}

@media all and (min-width: 1920px) {
  #character {
    height: auto;
  }
}

#gallery {
  height: 100vh;
  padding: 60px 100px;
  padding: 0;
}

#gallery h2 {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  position: absolute;
  height: 37px;
  color: #fff;
  margin-top: 60px;
}

@media all and (max-width: 679px) {
  #gallery h2 {
    font-size: 16px;
  }
}

@media all and (max-width: 679px) {
  #gallery h2 {
    margin-top: 10px;
  }
}

.main_poster {
  margin-bottom: 80px;
}

@media all and (max-width: 679px) {
  .main_poster {
    margin-bottom: 0;
    height: 100%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .main_poster {
    margin-bottom: 0;
  }
}

#gallery #photo {
  display: block;
  width: 100%;
  height: 100vh;
}

@media all and (max-width: 679px) {
  #gallery #photo {
    height: 100%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #gallery #photo {
    height: 100vh;
  }
}

.mini_img {
  display: flex;
  width: auto;
  height: auto;
  gap: 26px;
  bottom: 25.3808%;
  position: relative;
  text-align: center;
  justify-content: center;
}

.mini_img li {
  display: inline-block;
}

.mini_img img {
  display: block;
  width: 84px;
  height: 84px;
  border: 2px solid #fff;
  cursor: pointer;
}

@media all and (max-width: 679px) {
  .mini_img img {
    width: 32px;
    height: 32px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .mini_img img {
    width: 64px;
    height: 64px;
  }
}

@media all and (min-width: 1920px) {
  .mini_img img {
    width: 130px;
    height: 130px;
  }
}

@media all and (max-width: 679px) {
  .mini_img {
    gap: 8px;
    bottom: 40px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .mini_img {
    bottom: 105px;
    gap: 20px;
  }
}

@media all and (max-width: 679px) {
  #gallery {
    height: 190px;
    padding: 0;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #gallery {
    padding: 0;
  }
}

#poster {
  height: 100vh;
  padding: 60px 100px;
  background-color: #B7CAE8;
}

#poster h2 {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

@media all and (max-width: 679px) {
  #poster h2 {
    font-size: 16px;
  }
}

.poster_container {
  display: flex;
}

.subPoster {
  width: 50%;
  height: fit-content;
  padding: 0px 94px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 58px;
  row-gap: 22px;
}

.subPoster .subPoster_subTilte {
  width: 100%;
  height: fit-content;
  display: flex;
  column-gap: 58px;
}

.subPoster .subPoster_subTilte h3 {
  font-size: 16px;
  font-weight: 300;
}

@media all and (min-width: 1920px) {
  .subPoster .subPoster_subTilte h3 {
    font-size: 20px;
  }
}

.subPoster .subPoster_subTilte .countryJp {
  width: 50%;
  text-align: center;
}

.subPoster .subPoster_subTilte .countryKo {
  width: 50%;
  text-align: center;
}

@media all and (max-width: 679px) {
  .subPoster .subPoster_subTilte {
    display: none;
  }
}

.subPoster .brawn_posterJp {
  width: 186px;
  height: 244px;
}

.subPoster .brawn_posterJp img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 679px) {
  .subPoster .brawn_posterJp {
    width: 100%;
    height: auto;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .subPoster .brawn_posterJp {
    width: 47.306%;
    height: 28.125vmax;
    margin: auto;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .subPoster .brawn_posterJp {
    width: 46.5%;
    height: 20.1567vmax;
    margin: auto;
  }
}

@media all and (min-width: 1920px) {
  .subPoster .brawn_posterJp {
    width: 45.5%;
    height: 43%;
  }
}

@media all and (max-width: 679px) {
  .subPoster .brawn_posterJp {
    display: none;
  }
}

.subPoster .brawn_posterKo {
  width: 186px;
  height: 244px;
}

.subPoster .brawn_posterKo img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 679px) {
  .subPoster .brawn_posterKo {
    width: 100%;
    height: auto;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .subPoster .brawn_posterKo {
    width: 47.306%;
    height: 28.125vmax;
    margin: auto;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .subPoster .brawn_posterKo {
    width: 46.5%;
    height: 20.1567vmax;
    margin: auto;
  }
}

@media all and (min-width: 1920px) {
  .subPoster .brawn_posterKo {
    width: 45.5%;
    height: 43%;
  }
}

.subPoster .retro_posterJp {
  width: 186px;
  height: 244px;
}

.subPoster .retro_posterJp img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 679px) {
  .subPoster .retro_posterJp {
    width: 100%;
    height: auto;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .subPoster .retro_posterJp {
    width: 47.306%;
    height: 28.125vmax;
    margin: auto;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .subPoster .retro_posterJp {
    width: 46.5%;
    height: 20.1567vmax;
    margin: auto;
  }
}

@media all and (min-width: 1920px) {
  .subPoster .retro_posterJp {
    width: 45.5%;
    height: 43%;
  }
}

@media all and (max-width: 679px) {
  .subPoster .retro_posterJp {
    display: none;
  }
}

.subPoster .retro_posterKo {
  width: 186px;
  height: 244px;
}

.subPoster .retro_posterKo img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 679px) {
  .subPoster .retro_posterKo {
    width: 100%;
    height: auto;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .subPoster .retro_posterKo {
    width: 47.306%;
    height: 28.125vmax;
    margin: auto;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .subPoster .retro_posterKo {
    width: 46.5%;
    height: 20.1567vmax;
    margin: auto;
  }
}

@media all and (min-width: 1920px) {
  .subPoster .retro_posterKo {
    width: 45.5%;
    height: 43%;
  }
}

@media all and (max-width: 679px) {
  .subPoster {
    width: 33.4%;
    height: fit-content;
    padding: 0;
    row-gap: 8px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .subPoster {
    height: fit-content;
    padding: 20px 0;
    column-gap: 15px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .subPoster {
    height: fit-content;
    padding: 40px 70px;
    column-gap: 28px;
  }
}

.mainPoster {
  width: 50%;
  height: -webkit-fill-available;
  padding: 0px 94px;
}

.mainPoster img {
  width: 414px;
  height: 552px;
}

@media all and (max-width: 679px) {
  .mainPoster img {
    width: 100%;
    height: 100%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .mainPoster img {
    width: 100%;
    height: 100%;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .mainPoster img {
    width: 100%;
    height: 100%;
  }
}

@media all and (min-width: 1920px) {
  .mainPoster img {
    width: 100%;
    height: auto;
  }
}

@media all and (max-width: 679px) {
  .mainPoster {
    width: 66.5%;
    padding: 0;
    padding-left: 15px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .mainPoster {
    padding: 60px 2.995% 2.995%;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .mainPoster {
    padding: 40px 6.482% 3.704%;
  }
}

@media all and (max-width: 679px) {
  #poster {
    padding: 20px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #poster {
    height: auto;
    padding: 50px;
  }
}

#famousLine {
  height: 320px;
  display: flex;
  background-color: #000;
}

.famous_kiki {
  width: 320px;
  height: 320px;
  background-image: url(../../img/famous_kiki.png);
  background-size: 100% 100%;
}

@media all and (max-width: 679px) {
  .famous_kiki {
    width: 26%;
    height: 100%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .famous_kiki {
    width: 34%;
    height: 100%;
  }
}

.dialogue {
  width: 55.5%;
  padding: 93px 0;
}

.dialogue span {
  font-family: 'Y_Spotlight';
  width: 100%;
  display: block;
  color: #fff;
  font-size: 26px;
  text-align: center;
}

@media all and (max-width: 679px) {
  .dialogue span {
    font-family: "S-CoreDream-3Light";
    font-size: 13px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .dialogue span {
    font-family: "S-CoreDream-3Light";
    font-size: 18px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .dialogue span {
    font-size: 18px;
  }
}

@media all and (min-width: 1920px) {
  .dialogue span {
    font-size: 25px;
  }
}

@media all and (max-width: 679px) {
  .dialogue {
    width: 74%;
    padding: 22px 0 0;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .dialogue {
    width: auto;
    padding: 73px 0;
  }
}

@media all and (min-width: 1920px) {
  .dialogue {
    width: 66.6%;
  }
}

#famousLine span:last-child {
  margin-top: 22px;
}

@media all and (max-width: 679px) {
  #famousLine span:last-child {
    margin-top: 10px;
  }
}

.famous_parents {
  width: 320px;
  height: 318px;
  background-image: url(../../img//famous_momfam.png);
  background-size: 100% 100%;
}

@media all and (max-width: 679px) {
  .famous_parents {
    display: none;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .famous_parents {
    width: 34%;
    height: 100%;
  }
}

@media all and (max-width: 679px) {
  #famousLine {
    height: 100px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #famousLine {
    height: 250px;
  }
}

#recommend {
  height: 100vh;
  padding: 60px 100px;
  height: fit-content;
  padding: 140px;
  background-color: #4F4259;
}

#recommend h2 {
  width: 100%;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
  color: #fff;
}

@media all and (max-width: 679px) {
  #recommend h2 {
    font-size: 16px;
  }
}

.production {
  display: flex;
  margin-top: 8px;
  justify-content: center;
  gap: 30px;
}

.ghilie img {
  width: 103px;
  height: 48px;
}

@media all and (min-width: 1920px) {
  .ghilie img {
    width: 133px;
    height: 78px;
  }
}

.hayaho {
  display: block;
}

.hayaho span {
  height: 54px;
  line-height: 89px;
  display: block;
  font-size: 16px;
  color: #fff;
}

@media all and (min-width: 1920px) {
  .hayaho span {
    height: 85px;
    font-size: 20px;
    line-height: 132px;
  }
}

@media all and (max-width: 679px) {
  .production {
    display: none;
  }
}

@media all and (min-width: 1920px) {
  .production {
    margin-top: 38px;
  }
}

.movie_contanier {
  height: auto;
  display: flex;
  gap: 80px;
  margin-top: 70px;
}

.movie {
  height: auto;
}

.recom_poster {
  width: 230px;
  height: 302px;
}

.recom_poster img {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 679px) {
  .recom_poster {
    width: 134px;
    height: 172px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .recom_poster {
    width: 144px;
    height: 190px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .recom_poster {
    width: 215px;
    height: 297px;
  }
}

@media all and (min-width: 1920px) {
  .recom_poster {
    width: 330px;
    height: 420px;
  }
}

.movie_title {
  margin-top: 15px;
}

.movie_title p {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

@media all and (max-width: 679px) {
  .movie_title p {
    font-size: 13px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .movie_title p {
    font-size: 13px;
  }
}

@media all and (min-width: 1920px) {
  .movie_title p {
    font-size: 18px;
  }
}

.movie_title p:last-child {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 300;
}

@media all and (max-width: 679px) {
  .movie_title p:last-child {
    font-size: 13px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .movie_title p:last-child {
    font-size: 13px;
  }
}

@media all and (min-width: 1920px) {
  .movie_title p:last-child {
    font-size: 18px;
  }
}

@media all and (max-width: 679px) {
  .movie_title {
    margin-top: 10px;
  }
}

@media all and (min-width: 1920px) {
  .movie_title {
    margin-top: 35px;
  }
}

@media all and (max-width: 679px) {
  .movie {
    width: min-content;
  }
}

@media all and (max-width: 679px) {
  .movie_contanier {
    margin-top: 15px;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .movie_contanier {
    margin-top: 50px;
    gap: 30px;
    justify-content: center;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .movie_contanier {
    gap: 47px;
    justify-content: center;
  }
}

@media all and (min-width: 1920px) {
  .movie_contanier {
    margin-top: 120px;
    gap: 106px;
  }
}

@media all and (max-width: 679px) {
  #recommend {
    height: auto;
    padding: 20px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #recommend {
    height: auto;
    padding: 50px;
  }
}

@media all and (min-width: 1920px) {
  #recommend {
    height: auto;
  }
}

#ending {
  height: 100vh;
  padding: 60px 100px;
  height: auto;
  padding: 59px 100px;
  background-color: #004;
}

.enjoy {
  width: 100%;
  text-align: center;
  font-size: 96px;
  color: #D71E15;
}

@media all and (max-width: 679px) {
  .enjoy {
    font-size: 30px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .enjoy {
    font-size: 78px;
  }
}

@media all and (min-width: 1920px) {
  .enjoy {
    font-size: 100px;
  }
}

#ending .prodce {
  display: flex;
  margin-top: 54px;
  justify-content: center;
  gap: 100px;
}

#ending .prodce .ghilieImg a {
  display: block;
  height: 100%;
}

#ending .prodce .ghilieImg img {
  width: 198px;
  height: 95px;
}

@media all and (max-width: 679px) {
  #ending .prodce .ghilieImg img {
    width: 74px;
    height: 36px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #ending .prodce .ghilieImg img {
    width: 140px;
    height: auto;
  }
}

@media all and (min-width: 1920px) {
  #ending .prodce .ghilieImg img {
    width: 228px;
    height: 125px;
  }
}

.dawonImg {
  padding-top: 56px;
}

.dawonImg a {
  display: block;
  height: 100%;
}

@media all and (max-width: 679px) {
  .dawonImg img {
    width: 84px;
    height: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .dawonImg img {
    width: 184px;
    height: 64px;
  }
}

@media all and (min-width: 1920px) {
  .dawonImg img {
    width: 260px;
  }
}

@media all and (max-width: 679px) {
  .dawonImg {
    padding-top: 14px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .dawonImg {
    padding-top: 20px;
  }
}

@media all and (min-width: 1920px) {
  .dawonImg {
    padding-top: 74px;
  }
}

@media all and (max-width: 679px) {
  #ending .prodce {
    margin-top: 15px;
    gap: 20px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #ending .prodce {
    margin-top: 20px;
    gap: 50px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  #ending .prodce {
    margin-top: 20px;
  }
}

.ott {
  display: flex;
  margin-top: 110px;
  justify-content: center;
  gap: 95px;
}

.ott .netflix a {
  display: inline-flex;
}

.ott .netflix a img {
  width: 134px;
  height: auto;
}

@media all and (max-width: 679px) {
  .ott .netflix a img {
    width: 46px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .ott .netflix a img {
    width: 120px;
    height: auto;
  }
}

@media all and (min-width: 1920px) {
  .ott .netflix a img {
    width: 154px;
  }
}

.wavve {
  display: flex;
  justify-content: center;
}

.wavve a {
  display: inline-flex;
}

.wavve a img {
  width: 131px;
  height: 27px;
  margin: auto;
}

@media all and (max-width: 679px) {
  .wavve a img {
    width: 60px;
    height: 12px;
    margin: 8px 0;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .wavve a img {
    width: 120px;
    height: 30px;
    margin: 20px 0;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .wavve a img {
    width: 130px;
    height: 30px;
  }
}

@media all and (min-width: 1920px) {
  .wavve a img {
    width: 150px;
    height: 38px;
  }
}

@media all and (max-width: 679px) {
  .ott {
    margin-top: 15px;
    gap: 20px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .ott {
    margin-top: 10px;
    gap: 35px;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .ott {
    margin-top: 60px;
  }
}

.familly {
  display: none;
  width: 594px;
  height: 316px;
  position: relative;
  overflow: hidden;
  bottom: 58px;
  left: 746px;
}

.familly img {
  position: absolute;
  width: 600px;
  height: -webkit-fill-available;
  top: 20px;
  left: 25px;
}

@media all and (max-width: 679px) {
  .familly img {
    width: 100%;
    top: 4.06%;
    left: 5.719%;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .familly img {
    width: 100%;
    bottom: -6.71%;
    left: 5.32%;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .familly img {
    width: 100%;
    top: 6.33%;
    left: 4.21%;
  }
}

@media all and (min-width: 1920px) {
  .familly img {
    width: 700px;
    top: 20px;
    left: 25px;
  }
}

@media all and (max-width: 679px) {
  .familly {
    width: 50%;
    height: 10.423vh;
    bottom: 0;
    left: 50vw;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  .familly {
    width: 50%;
    height: 20vh;
    bottom: 0;
    left: 50vw;
  }
}

@media all and (min-width: 1280px) and (max-width: 1439px) {
  .familly {
    bottom: -3.583%;
    left: 54.2599%;
  }
}

@media all and (min-width: 1920px) {
  .familly {
    width: 694px;
    height: 374px;
    bottom: -59px;
    left: 1126px;
  }
}

@media all and (max-width: 679px) {
  #ending {
    height: auto;
    padding: 20px;
  }
}

@media all and (min-width: 680px) and (max-width: 1279px) {
  #ending {
    height: auto;
    padding: 50px;
  }
}

@media all and (min-width: 1920px) {
  #ending {
    height: auto;
  }
}
