// #character
#character {
  @include sectionBasic();
  background-color: $color_baige;

  // @include mobile() {
  //   display: none;
  // }

  // @include tablet() {
  //   display: none;
  // }

  h2 {
    @include h2();
    height: 32px;
  }

  @at-root .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 39.355% !important;
    height: auto;
    background-color: #fff;
    margin: 30px 15px 0;
    padding: 26px 20px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    
    @at-root .character_img {
      width: 354px;
      height: 296px;
      margin: auto;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include mobile() {
        width: auto;
        height: auto;    
      }
    }

    @at-root .character_txt {
      width: auto;
      margin: 20px auto 0;
      p {
        margin-bottom: 10px;
        font-size: map-get($map: $font_size, $key: subtitle);
        font-weight: $font_weight_bold;
      }
      span {
        margin-top: 10px;
        font-size: map-get($map: $font_size, $key: content1);
      }
    }

    @include mobile() {
      width: 100% !important;
      margin: auto;
      height: 630px !important;
      padding: 20px 10px;
      height: fit-content;
    }

    @include tablet() {
      width: 100% !important;
      margin: auto;
      padding: 20px 10px;
      height: fit-content;
    }

    @include laptop() {
      width: 45.1855% !important;
      margin: 2.778% 1.389% 0;
      padding: 2.408% 1.852% 0;
    }

    @include pcfull() {
      margin: 50px 20px 0;
    }
  } // --- .swiper-slide

  @at-root .swiper-slide:first-child {
    margin: 30px 15px 0px 70px;
  }

  @at-root .swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px auto;
  }

  @at-root .append-buttons {
    text-align: center;
    margin-top: 20px;
  }

  @at-root .append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: $color_red;
  }

  @include mobile() {
    padding: 14px 10px;
  }
  
  @include laptop() {
    padding: 2.969% 7.813%;
  }

  @include pcfull() {
    height: auto;
  }
} // --- #character
