// #character
#character {
  @include sectionBasic();
  background-color: $color_baige;

  h2 {
    @include h2();
    height: 32px;
  }

  .swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 488px;
    height: 606px;
    background-color: #fff;
    margin: 30px 15px 0;
    padding: 26px 20px;
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    
    .character_img {
      width: 354px;
      height: 296px;
      margin: auto;
      
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .character_txt {
      width: auto;
      margin: 20px auto 0;
      p {
        margin-bottom: 10px;
        font-size: map-get($map: $font_size, $key: subtitle);
        font-weight: $font_weight_bold;
      }
      span {
        margin-top: 10px;
        font-size: map-get($map: $font_size, $key: content1);
      }
    }
  } // --- .swiper-slide

  .swiper-slide:first-child {
    margin: 30px 15px 0px 70px;
  }

  .swiper-container {
    width: 100%;
    height: 300px;
    margin: 20px auto;
  }

  .append-buttons {
    text-align: center;
    margin-top: 20px;
  }

  .append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }
  
  .swiper-button-next, .swiper-button-prev {
    color: $color_red;
  }
} // --- #character
