  // #cover
  #cover {
    img {
      width: 100%;
      height: 100vh;
      filter: saturate(70%);

      @include mobile() {
        height: 100%;
      }
    }

    @include mobile() {
      height: 27vh;
    }
  } // --- #cover
