// #ending
#ending {
  @include sectionBasic ();
  height: auto;
  padding: 59px 100px;
  background-color: #004;
  
  @at-root .enjoy {
    width: 100%;
    text-align: center;
    font-size: map-get($map: $font_size, $key: endding);
    color: $color_red;

    @include mobile() {
      font-size: map-get($map: $font_size_m, $key: endding);
    }

    @include tablet() {
      font-size: map-get($map: $font_size_t, $key: endding);
    }

    @include pcfull() {
      font-size: map-get($map: $font_size_pcFull, $key: endding);
    }
  }

  .prodce {
    display: flex;
    margin-top: 54px;
    justify-content: center;
    gap: 100px;

    .ghilieImg {
      a {
        display: block;
        height: 100%;
      }

      img {
        width: 198px;
        height: 95px;

        @include mobile() {
          width: 74px;
          height: 36px;
        }

        @include tablet() {
          width: 140px;
          height: auto;
        }

        @include pcfull() {
          width: 228px;
          height: 125px;
        }
      }
    } // --- .ghilieImg

    @at-root .dawonImg {
      padding-top: 56px;
      
      a {
        display: block;
        height: 100%;
      }

      img {
        @include mobile() {
          width: 84px;
          height: 14px;
        }

        @include tablet() {
          width: 184px;
          height: 64px;
        }

        @include pcfull() {
          width: 260px;
        }
      }

      @include mobile() {
        padding-top: 14px;
      }

      @include tablet() {
        padding-top: 20px;
      }

      @include pcfull() {
        padding-top: 74px;
      }
    }

    @include mobile() {
      margin-top: 15px;
      gap: 20px;
    }

    @include tablet() {
      margin-top: 20px;
      gap: 50px;
    }

    @include laptop() {
      margin-top: 20px;
    }
  } // --- .prodce

  @at-root .ott {
    display: flex;
    margin-top: 110px;
    justify-content: center;
    gap: 95px;

    .netflix {
      a {
        display: inline-flex;
        
        img {
          width: 134px;
          height: auto;

          @include mobile() {
            width: 46px;
          }

          @include tablet() {
            width: 120px;
            height: auto;
          }

          @include pcfull() {
            width: 154px;
          }
        }
      } // --- a
    } // --- .netflix

    @at-root .wavve {
      display: flex;
      justify-content: center;
      
      a {
        display: inline-flex;
        
        img {
          width: 131px;
          height: 27px;
          margin: auto;

          @include mobile() {
            width: 60px;
            height: 12px;
            margin: 8px 0;
          }

          @include tablet() {
            width: 120px;
            height: 30px;
            margin: 20px 0;
          }

          @include laptop() {
            width: 130px;
            height: 30px;
          }

          @include pcfull() {
            width: 150px;
            height: 38px;
          }
        }
      } // --- a
    } // --- .wavve

    @include mobile() {
      margin-top: 15px;
      gap: 20px;
    }

    @include tablet() {
      margin-top: 10px;
      gap: 35px;
    }

    @include laptop() {
      margin-top: 60px;
    }
  } // --- .ott

  @at-root .familly {
    display: none;
    width: 594px;
    height: 316px;
    position: relative;
    overflow: hidden;
    bottom: 58px;
    left: 746px;
    
    img {
      position: absolute;
      width: 600px;
      height: -webkit-fill-available;
      top: 20px;
      left: 25px;

      @include mobile() {
        width: 100%;
        // height: -webkit-fill-available;
        top: 4.06%;
        left: 5.719%;
      }

      @include tablet() {
        width: 100%;
        // height: -webkit-fill-available;
        bottom: -6.71%;
        left: 5.32%;
      }

      @include laptop() {
        width: 100%;
        // height: -webkit-fill-available;
        top: 6.33%;
        left: 4.21%;
      }

      @include pcfull() {
        width: 700px;
        top: 20px;
        left: 25px;
      }
    }
    @include mobile() {
      width: 50%;
      height: 10.423vh;
      bottom: 0;
      left: 50vw;
    }

    @include tablet() {
      width: 50%;
      height: 20vh;
      bottom: 0;
      left: 50vw;
    }

    @include laptop() {
      bottom: -3.583%;
      left: 54.2599%;
    }

    @include pcfull() {
      width: 694px;
      height: 374px;
      bottom: -59px;
      left: 1126px;
    }
  } // --- .familly

  @include mobile() {
    height: auto;
    padding: 20px;
  }

  @include tablet() {
    height: auto;
    padding: 50px;
  }

  @include pcfull() {
    height: auto;
  }
} // --- #ending
