// #poster
#poster {
  @include sectionBasic();
  background-color: $color_skyblue;
  height: auto;

  @include mobile() {
    display: none;
  }
  
  h2 {
    @include h2();
  }

  @at-root .poster_container {
    display: flex;
  }

  @at-root .subPoster {
    width: 50%;
    padding: 56px 94px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 58px;
    row-gap: 22px;

    .subPoster_subTilte {
      display: flex;
      width: 100%;

      h3 {
        font-size: map-get($map: $font_size, $key: subtitle);
        font-weight: $font_weight_regular;

        @include pcfull() {
          font-size: map-get($map: $font_size_pcFull, $key: subtitle);
        }
      }

      .countryJp {
        width: 50%;
        text-align: center;
      }

      .countryKo {
        width: 50%;
        text-align: center;
      }
    } // --- .subPoster_subTilte

    .brawn_posterJp {
      @include kikiPoster();
    }
    .brawn_posterKo {
      @include kikiPoster();
    }
    .retro_posterJp {
      @include kikiPoster();
    }
    .retro_posterKo {
      @include kikiPoster();
    }

    @include tablet() {
      height: fit-content;
      padding: 20px 0;
      column-gap: 15px;
    }

    @include laptop() {
      padding: 40px 70px;
      column-gap: 28px;
    }
  } // --- .subPoster

  @at-root .mainPoster {
    width: 50%;
    padding: 56px 94px;
    
    img {
      width: 414px;
      height: 596px;

      @include tablet() {
        width: 100%;
        height: 100%;
      }

      @include laptop() {
        width: 400px;
      }

      @include pcfull() {
        width: 100%;
        height: auto;
      }
    }

    @include tablet() {
      padding: 60px 20px;
    }

    @include laptop() {
      padding: 40px 70px;
    }
  } // --- .mainPoster

  @include tablet() {
    padding: 50px;
  }
} // --- #poster
