// #poster
#poster {
  @include sectionBasic();
  background-color: $color_skyblue;
  
  h2 {
    @include h2();
  }

  @at-root .poster_container {
    display: flex;
  }

  @at-root .subPoster {
    width: 50%;
    height: fit-content;
    padding: 0px 94px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 58px;
    row-gap: 22px;

    .subPoster_subTilte {
      width: 100%;
      height: fit-content;
      display: flex;
      column-gap: 58px;

      h3 {
        font-size: map-get($map: $font_size, $key: subtitle);
        font-weight: $font_weight_regular;

        @include pcfull() {
          font-size: map-get($map: $font_size_pcFull, $key: subtitle);
        }
      }

      .countryJp {
        width: 50%;
        text-align: center;
      }

      .countryKo {
        width: 50%;
        text-align: center;
      }

      @include mobile() {
        display: none;
      }
    } // --- .subPoster_subTilte

    .brawn_posterJp {
      @include kikiPoster();

      @include mobile() {
        display: none;
      }
    }
    .brawn_posterKo {
      @include kikiPoster();
    }
    .retro_posterJp {
      @include kikiPoster();

      @include mobile() {
        display: none;
      }
    }
    .retro_posterKo {
      @include kikiPoster();
    }

    @include mobile() {
      width: 33.4%;
      height: fit-content;
      padding: 0;
      row-gap: 8px;
    }

    @include tablet() {
      height: fit-content;
      padding: 20px 0;
      column-gap: 15px;
    }

    @include laptop() {
      height: fit-content;
      padding: 40px 70px;
      column-gap: 28px;
    }
  } // --- .subPoster

  @at-root .mainPoster {
    width: 50%;
    height: -webkit-fill-available;
    padding: 0px 94px;
    
    img {
      width: 414px;
      height: 552px;

      @include mobile() {
        width: 100%;
        height: 100%;
      }

      @include tablet() {
        width: 100%;
        height: 100%;
      }

      @include laptop() {
        width: 100%;
        height: 100%;
      }

      @include pcfull() {
        width: 100%;
        height: auto;
      }
    }

    @include mobile() {
      width: 66.5%;
      padding: 0;
      padding-left: 15px;
    }

    @include tablet() {
      padding: 60px 2.995% 2.995%;
    }

    @include laptop() {
      padding: 40px 6.482% 3.704%;
    }
  } // --- .mainPoster

  @include mobile() {
    padding: 20px;
  }

  @include tablet() {
    height: auto;
    padding: 50px;
  }
} // --- #poster
