// #recommend
#recommend {
  @include sectionBasic();
  height: fit-content;
  padding: 140px;
  background-color: $color_puple;

  h2 {
    @include h2();
    text-transform: capitalize;
    color: $color_white;
  }

  @at-root .production {
    display: flex;
    margin-top: 8px;
    justify-content: center;
    gap: 30px;

    @at-root .ghilie {
      img {
        width: 103px;
        height: 48px;

        @include pcfull() {
          width: 133px;
          height: 78px;
        }
      }
    } // --- .ghilie

    @at-root .hayaho {
      display: block;
      
      span {
        height: 54px;
        line-height: 89px;
        display: block;
        font-size: map-get($map: $font_size, $key: subtitle);
        color: $color_white;

        @include pcfull() {
          height: 85px;
          font-size: map-get($map: $font_size_pcFull, $key: subtitle);
          line-height: 132px;
        }
      }
    } // --- .hayaho

    @include mobile() {
      display: none;
    }

    @include pcfull() {
      margin-top: 38px;
    }
  } // --- .production

  @at-root .movie_contanier {
    height: auto;
    display: flex;
    gap: 80px;
    margin-top: 70px;

    @at-root .movie {
      height: auto;

      @at-root .recom_poster {
        width: 230px;
        height: 302px;

        img {
          width: 100%;
          height: 100%;
        }

        @include mobile() {
          width: 134px;
          height: 172px;
        }

        @include tablet() {
          width: 144px;
          height: 190px;
        }

        @include laptop() {
          width: 215px;
          height: 297px;
        }

        @include pcfull() {
          width: 330px;
          height: 420px;
        }
      } // --- .recom_poster

      @at-root .movie_title {
        margin-top: 15px;

        p {
          font-size: map-get($map: $font_size, $key: subtitle);
          font-weight: $font_weight_bold;
          color: $color_white;

          @include mobile() {
            font-size: map-get($map: $font_size_m, $key: content1);
          }

          @include tablet() {
            font-size: map-get($map: $font_size_m, $key: content1);
          }

          @include pcfull() {
            font-size: map-get($map: $font_size_pcFull, $key: content1);
          }
        }
        
        p:last-child {
          margin-top: 5px;
          font-size: map-get($map: $font_size, $key: content1);
          font-weight: $font_weight_regular;

          @include mobile() {
            font-size: map-get($map: $font_size_m, $key: content1);
          }

          @include tablet() {
            font-size: map-get($map: $font_size_m, $key: content1);
          }

          @include pcfull() {
            font-size: map-get($map: $font_size_pcFull, $key: content1);
          }
        }

        @include mobile() {
          margin-top: 10px;
        }

        @include pcfull() {
          margin-top: 35px;
        }
      } // --- .movie_title

      @include mobile() {
        width: min-content;
      }
    } // --- .movie

    @include mobile() {
      margin-top: 15px;
      flex-wrap: wrap;
      gap: 12px;
      justify-content: center;
    }

    @include tablet() {
      margin-top: 50px;
      gap: 30px;
      justify-content: center;
    }

    @include laptop() {
      gap: 47px;
      justify-content: center;
    }

    @include pcfull() {
      margin-top: 120px;
      gap: 106px;
    }
  } // --- .movie_contanier

  @include mobile() {
    height: auto;
    padding: 20px;
  }

  @include tablet() {
    height: auto;
    padding: 50px;
  }

  @include pcfull() {
    height: auto;
  }
} // --- #recommend
