// #video
#video {
  height: 100vh;
  padding: 120px 0;
  background-color: $color_whiteGraly;
  
  @at-root .video_content {
    width: 100%;
    display: flex;
    justify-content: center;

    iframe {
      width: 63.889%;
      height: 62.437vh;
      border: 0; 

      @include mobile() {
        width: auto;
        height: auto;
      }

      @include tablet() {
        width: 700px;
        height: 394px;
      }

      @include pcfull() {
        width: 1200px;
        height: 674px;
      }
    }

    @include tablet() {
      width: 700px;
      margin: auto;
    }
  }
  @at-root .video_title {
    width: 100%;
    height: 51px;
    line-height: 51px;
    font-size: map-get($map: $font_size, $key: projectsub);
    font-weight: $font_weight_medium;
    text-align: center;

    @include mobile() {
      font-size: map-get($map: $font_size_m, $key: projectsub);
    }

    @include pcfull() {
      height: 60px;
      line-height: 60px;
      font-size: map-get($map: $font_size_pcFull, $key: projectsub);
    }
  }
  @at-root .video_decoration {
    width: 20%;
    height: 56.935%;
    bottom: 59.1715%;
    left: 72.083%;
    position: relative;
    background-image: url(../../img/zizi_deco.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include mobile() {
      width: 80px;
      height: 100px;
      bottom: 39.834%;
      left: 74.064%;
    }

    @include tablet() {
      width: 200px;
      height: 246px;
      bottom: 32.847%;
      left: 73.959%;
    }

    @include laptop() {
      left: 940px;
    }

    @include pcfull() {
      width: 300px;
      height: 350px;
      bottom: 37.468%;
      left: 71.875%;
    }
  }
  
  @include mobile() {
    height: 39.437vh;
    padding: 9.05% 0 0;
  }
} // --- #video
