// portfolio2.scss
/* portfolio2.css */

@import "../common/variable";
@import "../common/mixin";

/* fonts.css */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
  @font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
  cursor: url(../../img/cursor.svg) 5 5, progress;
}

  /* 전체 레이아웃 설정 */
  // 전체 레이아웃 설정

  /* #wrap */
  // #wrap
#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: auto;
  background-color: $color_white;
  font-family: "S-Core_Dream_OTF";
  font-weight: 300;
} // --- #wrap

@import "../kiki/base/headbox";

@import "../kiki/main/cover";
@import "../kiki/main/plot";
@import "../kiki/main/video";
@import "../kiki/main/character";
@import "../kiki/main/gallery";
@import "../kiki/main/poster";
@import "../kiki/main/famousLine";
@import "../kiki/main/recommend";
@import "../kiki/main/ending";
