// portfolio2.scss
/* portfolio2.css */

@import "../common/variable";
@import "../common/mixin";

/* fonts.css */
@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
  @font-face {
    font-family: 'Y_Spotlight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/Y_Spotlight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
  cursor: url(../../img/cursor.svg) 5 5, progress;
}

  /* 전체 레이아웃 설정 */
  // 전체 레이아웃 설정

  /* #wrap */
  // #wrap
#wrap {
  width: 100%;
  height: auto;
  min-height: 800px;
  margin: auto;
  background-color: $color_white;
  font-family: "S-Core_Dream_OTF";
  font-weight: 300;

  // #headBox
  #headBox {
    width: 100%;
    height: 100vh;
    top: 0;
    box-sizing: border-box;

    .headinner {
      width: 100%;
      height: 70px;
      display: flex;
      position: fixed;
      padding: 13px 100px;
      z-index: 1000;

      .menu_bar {
        width: 33.3%;

        .navbar_overlay {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          z-index: 998;
          opacity: 0;
          pointer-events: none;
          transition: opacity 0.1s ease;
        }
        
        .gnb {
          position: fixed;
          top: 20px;
          cursor: pointer;
          color: #000;
          
          i {
            font-size: 30px;
            color: $color_white;
          }
        } // --- .gnb
        
        .hurger_back {
          position: fixed;
          top: 1.5rem;
          right: 1.5rem;
          cursor: pointer;
          color: #fff;

          i {
            font-size: 28px;
          }
        }
        .navbar_menu {
          width: 40%;
          height: 100%;
          top: 0;
          left: 0;
          padding: 100px 60px;
          position: fixed;
          background-color: $color_red;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          transform: translateX(-100%);
          z-index: 999;
          transition: transform 0.3s ease;
          
          a {
            margin-left: 10px;
            margin-bottom: 30px;        
            position: relative;
            font-size: map-get($map: $font_size, $key: projectsub);
            color: $color_white;
            font-weight: $font_weight_medium;
            text-decoration: none;
          }
        }
        .navbar_menu.active {
          transform: translateX(0);
        }
        .navbar_overlay.active {
          opacity: 1;
          pointer-events: auto;
        }
      }

      h1 {
        width: 33.3%;

        a {
          display: flex;
          margin: auto;
          justify-content: center;

          img {
            width: 227px;
            height: 43px;
          }
        } // --- a
      } // --- .h1
    } // --- .headinner

    .site_rink {
      width: 33.3%;
      display: grid;
      justify-content: end;

      .rink_img {
        width: 90px;
        height: 28px;
        display: flex;
        gap: 20px;
        justify-content: end;

        .ghiblie_site {
          width: 100%;
          display: flex;
          justify-content: center;
          
          img {
            width: 26px;
            height: 26px;
            margin: auto;
          }
        } // --- .ghiblie_site

        .twitter_site {
          width: 100%;
          display: flex;
          justify-content: center;
          
          img {
            width: 28px;
            height: 28px;
          }
        } // --- .twitter_site
      } // --- .rink_img

      .site_txt {
          height: 15px;
          line-height: 13px;
          text-align: center;

        span {
          color: $color_white;
          font-size: map-get($map: $font_size, $key: subTxt);
          text-transform: capitalize;
        }
      } // --- .site_txt
    } // --- .site_rink
  } // --- #headBox


  // #cover
  #cover {
    img {
      width: 100%;
      height: 100vh;
    }
  } // --- #cover

  // #plot
  #plot {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;

    .leftImg {
      width: 50%;
      background-image: url(../../img/kiki_green.jpeg);
      background-size: 100% 1000px;
      background-repeat: no-repeat;
      background-position: 0px -400px;
    }

    /* 첫번째 줄거리 */
    // 첫번째 줄거리
    .rightTxt {
      width: 50%;
      background-color: $color_green;
      padding: 77px 150px;

      span {
        font-size: map-get($map: $font_size, $key: projecttitle);
        font-weight: $font_weight_bold;
        color: $color_white;
      }
      p {
        padding-top: 10px;
        font-size: map-get($map: $font_size, $key: subtitle);
        color: $color_white;
        line-height: 24px;
      }
    } // --- .rightTxt

    // .leftTxt
    .leftTxt {
      width: 50%;
      background-color: $color_blue;
      padding: 67px 130px;

      span {
        font-size: map-get($map: $font_size, $key: projecttitle);
        font-weight: $font_weight_bold;
        color: $color_white;
      }

      p {
        padding-top: 10px;
        font-size: map-get($map: $font_size, $key: subtitle);
        color: $color_white;
        line-height: 24px;
      }
    } // --- .leftTxt
    .rightImg {
      width: 50%;
      // height: 100%;
      background-image: url(../../img/kiki_plot_blue.jpeg);
      background-size: 100% 1200px;
      background-repeat: no-repeat;
      background-position: 0px -380px;
    }
  } // --- #plot

  // #video
  #video {
    height: 100vh;
    padding: 120px 0;
    background-color: $color_whiteGraly;

    .video_content {
      width: 100%;
      display: flex;
      justify-content: center;
    }
    .video_title {
      width: 100%;
      height: 51px;
      line-height: 51px;
      font-size: map-get($map: $font_size, $key: projectsub);
      font-weight: $font_weight_medium;
      text-align: center;
    }
    .video_decoration {
      width: 288px;
      height: 337px;
      bottom: 300px;
      left: 1038px;
      position: relative;
      background-image: url(../../img/zizi_deco.png);
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  } // --- #video

  // #character
  #character {
    @include sectionBasic();
    background-color: $color_baige;

    h2 {
      @include h2();
      height: 32px;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      width: 488px;
      height: 606px;
      background-color: #fff;
      margin: 30px 15px 0;
      padding: 26px 20px;
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      display: block;
      
      .character_img {
        width: 354px;
        height: 296px;
        margin: auto;
        
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .character_txt {
        width: auto;
        margin: 20px auto 0;

        p {
          margin-bottom: 10px;
          font-size: map-get($map: $font_size, $key: subtitle);
          font-weight: $font_weight_bold;
        }
        span {
          margin-top: 10px;
          font-size: map-get($map: $font_size, $key: content1);
        }
      }
    } // --- .swiper-slide

    .swiper-slide:first-child {
      margin: 30px 15px 0px 70px;
    }

    .swiper-container {
      width: 100%;
      height: 300px;
      margin: 20px auto;
    }

    .append-buttons {
      text-align: center;
      margin-top: 20px;
    }

    .append-buttons button {
      display: inline-block;
      cursor: pointer;
      border: 1px solid #007aff;
      color: #007aff;
      text-decoration: none;
      padding: 4px 10px;
      border-radius: 4px;
      margin: 0 10px;
      font-size: 13px;
    }

    .swiper-button-next, .swiper-button-prev {
      color: $color_red;
    }
  } // --- #character

  // #gallery
  #gallery {
    @include sectionBasic();
    padding: 0;
    
    h2 {
      @include h2();
      position: absolute;
      height: 37px;
      color: $color_white;
      margin-top: 60px;
    }

    .main_poster {
      margin-bottom: 80px;
    }

    #photo{
      display: block;
      width: 100%;
      height: 100vh;
    }



    .mini_img { // 임시코드 자바스크립트 활용예정
      display: flex;
      width: 84px;
      height: 84px;
      gap: 26px;
      bottom: 25.3808%;
      left: 20%;
      position: relative;
      text-align: center;

      li {
        display: inline-block;
      }

      img {
        display: block;
        width: 84px;
        height: 84px;
        border: 2px solid $color_white;
        cursor: pointer;
      }
    } // --- .mini_img
  } // --- #gellery

  // #poster
  #poster {
    @include sectionBasic();
    background-color: $color_skyblue;
    height: auto;

    h2 {
      @include h2();
    }
    .poster_container {
      display: flex;
    }
    .subPoster {
      width: 50%;
      padding: 56px 94px;
      display: flex;
      flex-wrap: wrap;
      column-gap: 58px;
      row-gap: 22px;


      .subPoster_subTilte {
        display: flex;
        width: 100%;

        h3 {
          font-size: map-get($map: $font_size, $key: subtitle);
          font-weight: $font_weight_regular;
        }
        .countryJp {
          width: 50%;
          text-align: center;

        }
        .countryKo {
          width: 50%;
          text-align: center;
        }
      } // --- .subPoster_subTilte

      .brawn_posterJp {
        @include kikiPoster();
      }
      .brawn_posterKo {
        @include kikiPoster();
      }
      .retro_posterJp {
        @include kikiPoster();
      }
      .retro_posterKo {
        @include kikiPoster();
      }
    } // --- .subPoster

    .mainPoster {
      width: 50%;
      padding: 56px 94px;
      
      img {
        width: 414px;
        height: 596px;
      }
    } // --- .mainPoster
  } // --- #poster

  // #famousLine
  #famousLine {
    height: 320px;
    display: flex;
    background-color: $color_black;
    
    
    .famous_kiki {
      width: 320px;
      height: 320px;
      background-image: url(../../img/famous_kiki.png);
      background-size: 100% 100%;
    }
    .dialogue {
      width: 55.5%;
      padding: 93px 0;

      span {
        font-family: 'Y_Spotlight';
        width: 100%;
        display: block;
        color: $color_white;
        font-size: map-get($map: $font_size, $key: dialogue);
        text-align: center;
      }
    } // --- .dialogue

    span:last-child {
      margin-top: 22px;
    }
    .famous_parents {
      width: 320px;
      height: 318px;
      background-image: url(../../img//famous_momfam.png);
      background-size: 100% 100%;
    }
  } // --- #famousLine

  // #recommend
  #recommend {
    @include sectionBasic();
    padding: 140px;
    background-color: $color_puple;

    h2 {
      @include h2();
      text-transform: capitalize;
      color: $color_white;
    }
    .production {
      display: flex;
      margin-top: 8px;
      justify-content: center;
      gap: 30px;

      .ghilie {

        img {
          width: 103px;
          height: 48px;
        }
      } // --- .ghilie

      .hayaho {
        display: block;
        
        span {
          height: 54px;
          line-height: 89px;
          display: block;
          font-size: map-get($map: $font_size, $key: subtitle);
          color: $color_white;
        }
      } // --- .hayaho
    } // --- .production

    .movie_contanier {
      height: auto;
      display: flex;
      gap: 80px;
      margin-top: 70px;

      .movie {
        height: auto;

        .recom_poster {
          width: 230px;
          height: 302px;

          img {
            width: 100%;
            height: 100%;
          }
        } // --- .recom_poster

        .movie_title {
          margin-top: 15px;

          p {
            font-size: map-get($map: $font_size, $key: subtitle);
            font-weight: $font_weight_bold;
            color: $color_white;
          }
          p:last-child {
            margin-top: 5px;
            font-size: map-get($map: $font_size, $key: content1);
            font-weight: $font_weight_regular;
          }
        } // --- .movie_title
      } // --- .movie
    } // --- .movie_contanier
  } // --- #recommend

  // #ending
  #ending {
    @include sectionBasic ();
    padding: 59px 100px;
    background-color: #004;
    
    .enjoy {
      width: 100%;
      text-align: center;
      font-size: map-get($map: $font_size, $key: endding);
      color: $color_red;
    }
    .prodce {
      display: flex;
      margin-top: 54px;
      justify-content: center;
      gap: 100px;

      .ghilieImg {
        img {
          width: 198px;
          height: 95px;
        }
      } // --- .ghilieImg

      .dawonImg {
        padding-top: 56px;
      }
    } // --- .prodce

    .ott {
      display: flex;
      margin-top: 110px;
      justify-content: center;
      gap: 95px;

      .netflix {

        a {
          display: inline-flex;
          

          img {
            width: 134px;
            height: auto;
          }
        } // --- a
      } // --- .netflix

      .wavve {
        display: flex;
        justify-content: center;
        
        a {
          display: inline-flex;
          
          img {
            width: 131px;
            height: 27px;
            margin: auto;
          }
        } // --- a
      } // --- .wavve
    } // --- .ott

    .familly {
      position: relative;
      width: 594px;
      height: 316px;
      overflow: hidden;
      bottom: 58px;
      left: 746px;

      img {
        position: absolute;
        width: 600px;
        height: auto;
        top: 20px;
        left: 25px;
      }
    } // --- .familly
  } // --- #ending
} // --- #wrap
