// variable.scss

// color =========================
$color_green: #0A4B41;
$color_blue: #1145A2;
$color_skyblue: #B7CAE8;
$color_baige: #D7DAC7;
$color_puple: #4F4259;
$color_red: #D71E15;
$color_black: #000;
$color_white: #fff;
$color_whiteGraly: #eef;

// ================================
// border 
$line1 : 1px solid $color_black;
$line2 : 1px solid $color_white;

// font ===========================
$font-family_spotlight: 'Y_Spotlight';
$font_family_score: 'S-CoreDream-3Light';
$font_weight_regular: 300;
$font_weight_medium: 500;
$font_weight_bold: 600;
$font_weight_bolder: 800;
$font_weight: (400, 500, 600, 700, 800);

$font_size_m:(
  title: 25px, pointtitle: 15px, banner: 80px,
  content1: 14px, pointContent2: 30px, contactemail: 42px);

$font_size:(
  subtitle: 16px, pointcontent: 18px, projecttitle: 30px, subTxt: 12px,
  projectsub: 20px, content1: 14px, endding: 96px, dialogue: 28px);

$font_size_pcFull:(
  title: 35px, pointtitle: 24px, banner: 140px,
  content1: 17px, pointContent2: 35px, contactemail: 64px);

$letter-spacing: (
  title: 0.7em, content: 0.3em, content_kr: 0.1em );
  
// device size ================================
$mobile: 320px;
$tablet: 600px;
$laptop: 1024px;
$pc: 1440px;
$pcfull: 1920px;

// width, height
// $width100: 100%;
// $auto: auto;
// $displayflex: flex;
// $box-sizing: border-box;


